<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="Assets/css/register.css">
        <link rel="stylesheet" href="Assets/css/styles.css">
    </head>
    <body>
        <form action="Model/register.php" method="post">
            <h1>Register</h1>
            <div class="inputs">
                <div style="display: flex; gap: 10px;">
                    <input type="text" name="first_name" placeholder="First name" required>
                    <input type="text" name="last_name" placeholder="Last name" required>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div style="margin-top: 1rem;">
                    <input type="submit" value="Signup" style=" cursor: pointer; background-color: rgb(105, 255, 255);">
                </div>
                <div>Already have an account? <a href="?request=login">Login</a></div>
            </div>
        </form>
    </body>
</html>